@model TicketSystem.Models.tlkpSeverityType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tlkpSeverityType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txtSeverityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txtSeverityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtmCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtmCreate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idsSeverityType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
