@model IEnumerable<TicketSystem.Models.tblTicket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@if (User.Identity.Name.ToString() == "")
{
    <p>You must be logged in to view this page</p>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtmCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blnResolved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser.txtUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tlkpSeverityType.txtSeverityType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtmCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blnResolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.txtUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tlkpSeverityType.txtSeverityType)
        </td>
        <td>
            @if (User.Identity.Name.ToString() == "csattaway@gmail.com") { }
            @Html.ActionLink("Edit", "Edit", new { id = item.idsTicket })} |
            @Html.ActionLink("Details", "Details", new { id = item.idsTicket }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idsTicket })
        </td>
    </tr>
}

</table>
}