@model TicketSystem.Models.tlkpUserType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tlkpUserType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txtUserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txtUserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtmCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtmCreate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idsUserType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
