@model TicketSystem.Models.tblTicketHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblTicketHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtmEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtmEdit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blnResolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blnResolved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTicket.txtIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTicket.txtIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser.txtUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser.txtUserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idsTicketHistory }) |
    @Html.ActionLink("Back to List", "Index")
</p>
