@model IEnumerable<TicketSystem.Models.tblTicketHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtmEdit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blnResolved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblTicket.txtIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser.txtUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtmEdit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blnResolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblTicket.txtIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.txtUserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsTicketHistory }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsTicketHistory }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsTicketHistory })
        </td>
    </tr>
}

</table>
