@model IEnumerable<TicketSystem.Models.tblTicket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.dtmCreate)*@
            Created
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.txtIssue)*@
            Issue
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.blnResolved)*@
            Resolved?
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tblUser.txtUserName)*@
            User Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tlkpSeverityType.txtSeverityType)*@
            Severity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtmCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blnResolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.txtUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tlkpSeverityType.txtSeverityType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsTicket }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsTicket }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsTicket })
        </td>
    </tr>
}

</table>
